@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.pt-1 {
  padding-top: 1rem;
}

.btn-style {
  padding: 2vh;
  border-color: 1px solid black;
  color: white;
  margin-left: 3px;
}

.nav-link{
  font-family:"Roboto", sans-serif;

}

.nav-link:hover{
 color: aquamarine;
}


.navButtons{
  background-color: rgb(8, 62, 8);
  padding:13px;
  border:none
}
.AdminButton
{
  position:relative;
  bottom: 20px;
  height: 47px;
}
