<form>
  <div class="container" style="top: 450px">
    <h1>Forgot Password</h1>
    <p>Please Enter Your Email for reseting your password!</p>


    <label style="margin-top: 20px; "><b>Email</b></label>
    <input
      type="text"
      name="email"
      (blur)="validateEmail()"
      (focus)="hideEmailError()"
      [(ngModel)]="email"
      placeholder="Enter Your Email"
      type="text"
      style="margin-bottom:0px"
      required
    />
    <span
      class="error error_msg"
      [ngStyle]="{ display: emailErrorVisibility ? '' : 'none' }"
      >{{ emailErrorMessage }}</span
    >

    <div class="clearfix">
      <button
        type="submit"
        class="btn"
        [disabled]="submitDisabled"
        (click)="forgetPassword()"
      >
       Submit
      </button>
    </div>
  </div>
</form>
