
<div class="about-us container-fluid">
  <div class="container">

    
      <div class="row natur-row no-margin w-100">
          <div class="text-part col-md-6">
              <h1>About Our Charity</h1>
              <p>
                At Danam, we are driven by a profound belief that every individual deserves the opportunity to thrive and live a life of dignity. Founded in 2024, our non-profit organization has been at the forefront of empowering communities through sustainable development initiatives and providing essential resources to those in need.
                Our mission is rooted in the principles of compassion, responsibility, and unwavering commitment to creating lasting change. We understand that true progress requires a holistic approach, addressing the multifaceted challenges that individuals and communities face daily.

                </p>

              <p>Transparency and accountability are paramount to us, and we strive to maintain the highest standards of ethical conduct in all our operations. We are committed to responsible stewardship of the resources entrusted to us, ensuring that every donation is utilized efficiently and effectively.

                Danam's achievements are a testament to the power of collective action and the generosity of our supporters worldwide.

                Join us on this journey of compassion and positive change. Together, we can create a better tomorrow for all.</p>
          </div>
          <div class="image-part col-md-6">
              <div class="about-quick-box row">
                  <div class="col-md-6">
                      <div class="about-qcard">
                         <i class="fas fa-user"></i>
                          <p>1000+ Donors</p>
                      </div>
                  </div>
                   <div class="col-md-6">
                      <div class="about-qcard ">
                         <i class="fas fa-search-dollar red"></i>
                          <p>Quick Fundrais</p>
                      </div>
                  </div>
                   <div class="col-md-6">
                      <div class="about-qcard ">
                         <i class="fas fa-donate yell"></i>
                          <p>Easy Donations</p>
                      </div>
                  </div>
                   <div class="col-md-6">
                      <div class="about-qcard ">
                         <i class="fas fa-hands-helping blu"></i>
                          <p>Help Some Cause</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


