<section class="events">
  <div class="container">
      <div class="session-title row">
          <h2>Most Recent  Causes</h2>
          <p>We are a non-profital & Charity raising money for child education</p>
      </div>
      <div class="event-ro row">
          <div class="col-md-4 col-sm-6">
              <div class="event-box">
                  <img src="assets/images/events/image_08.jpg" alt="">
                  <h4>NIKO Orphanage</h4>

                  <p class="raises">Address: Gachibowli,Hyderabad</p>
                  <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                  <button class="btn btn-success btn-sm">Donate Now</button>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="event-box">
                  <img src="assets/images/events/image_06.jpg" alt="">
                  <h4>NIKO Orphanage</h4>
                  <p class="raises"> Address: Sitaburdi,Nagpur</p>
                  <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                  <button class="btn btn-success btn-sm">Donate Now</button>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="event-box">
                  <img src="assets/images/events/image_04.jpg" alt="">
                  <h4>NIKO Orphanage</h4>
                  <p class="raises">Address: New Delhi</p>
                  <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                  <button class="btn btn-success btn-sm">Donate Now</button>
              </div>
          </div>
      </div>
  </div>
</section>



