
<form style="margin-bottom: 60px;">
    <div class="container" style="  top: 450px; margin:30px; padding-right: 65px;">
      <h1>Forgot Password</h1>
      <p>Please Enter Your Email for reseting your password!</p>

        <label for="email"><b>Email</b></label>
        <input type="text" name="email" [(ngModel)]="email" placeholder="Example@gmail.com" (blur)="handleEmailBlur($event)" (onchange)="handelOnchange($event)" (focus)="onEmailFocus()">
        <span [ngStyle]="{'visibility':emailErrorVisible?'':'hidden'}" class="error_msg">{{emailError[0] && emailError[0].errorMsg}}</span>

      <div class="clearfix">
        <button type="submit" class="btn"  (mouseenter)="handelOnmouseenter()" (click)="forgetPassword()">Submit</button>
  </div>
    </div>
  </form>