<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="srno">
      <th mat-header-cell *matHeaderCellDef> Sr No. </th>


  <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
  <td mat-cell *matCellDef="let element"></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="cause">
      <th mat-header-cell *matHeaderCellDef> Cause Name </th>
      <td mat-cell *matCellDef="let element"> {{element.causeTitle}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="amount_donated">
      <th mat-header-cell *matHeaderCellDef> Amount Donated </th>
      <td mat-cell *matCellDef="let element"> ₹ {{element.amount}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date Of Donation </th>
      <td mat-cell *matCellDef="let element">  {{formatDate(element.date) }} </td>
      <td mat-cell *matCellDef="let element"> </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="buttons" >
      <th mat-header-cell *matHeaderCellDef> View cause</th>
      <td mat-cell *matCellDef="let element"> <button mat-flat-button color="primary" (click)="fetchCause(element.causeTitle)">View Details</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

