<section class="container-fluid mission-vision">
  <div class="container">
    <div class="row mission">
      <div class="col-md-6 mv-det">
        <h1>Our Mission</h1>
        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:1rem">
          &nbsp; At DANAm, our mission is to empower individuals and communities through acts of kindness, compassion,
          and
          service. We are dedicated to creating a world where every person has access to the resources, support, and
          opportunities they need to thrive and reach their full potential.


        </p>
        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:1rem">&nbsp; Central to our
          mission is the belief that real change happens when we come together as a global community, pooling our
          resources, talents, and expertise to tackle the most pressing challenges facing humanity. By fostering a
          culture of empathy, solidarity, and inclusivity, we strive to build bridges across divides and create a more
          connected and compassionate world for future generations.
          Through our actions, we seek to inspire others to join us in our mission, recognizing that each act of
          kindness, no matter how small, has the power to create a ripple effect of positive change that can transform
          lives and communities</p>
      </div>
      <div class="col-md-6 mv-img">
        <img src="assets/images/misin.jpg" alt="">
      </div>
    </div>
    <div class="row vision">
      <div class="col-md-6 mv-img">
        <img src="assets/images/vision.jpg" alt="">
      </div>
      <div class="col-md-6 mv-det">
        <h1>Our Vision</h1>
        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:1rem">At DANAM, our vision is
          to ignite a world where compassion and community flourish, creating a ripple effect of positive change.
          We envision a society where every individual feels empowered and supported, where no one is left behind.
          Through our unwavering dedication, we aim to cultivate a culture of empathy and inclusion, where differences
          are celebrated and barriers are dismantled.

        </p>
        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:1rem">&nbsp; Together, let's
          embark
          on this transformative journey, hand in hand, as we work towards a brighter, more compassionate tomorrow for
          all. Join us as we champion the values of empathy, kindness, and solidarity, and strive to make our shared
          vision a reality, one act of compassion at a time.
          Join us as we work towards this shared vision of a world where every person has the opportunity to thrive and
          live with dignity, where love and empathy are the currencies of change</p>

      </div>
    </div>
  </div>
</section>
