@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.mission-vission-text {
  margin-top: 15px;
}


.mission-div{
  display: flex;
  height: fit-content;


}
.mission-div h1{
  display: flex;
  justify-content: center;
}

.mission-div p{
  /* height: 60%; */
  margin-top: 5%;
  font-size: large;
  display: flex;
  align-items: center;
}

.vission-div{
  display: flex;
  height: fit-content;
}
.vission-div h1{
  display: flex;
  justify-content: center;
}

.vission-div p{
  font-size: large;
  /* height: 60%; */
  margin-top: 6%;
  display: flex;
  align-items: center;
}


.mission-vision {
  background-color: #FFF; }
  .mission-vision .mission {
    padding: 50px; }
    @media screen and (max-width: 940px) {
      .mission-vision .mission {
        padding: 30px 10px; } }
  .mission-vision .vision {
    padding: 50px; }
    @media screen and (max-width: 940px) {
      .mission-vision .vision {
        padding: 30px 10px; } }
  .mission-vision .mv-det {
    margin: auto; }
