
<section class="container-fluid mission-vision" style="margin: 50px;">
  <div class="container">
    <div class="row mission mission-div">
      <div class="col-md-6 mv-det">
        <h1 class="mission-vission-text">Our Mission</h1>
        <p>
          At the core of Danam lies an unwavering mission to be a force for positive change, empowering communities and individuals to rise above adversity and reach their full potential. We are driven by a deep-rooted belief that every human being deserves access to fundamental rights and opportunities, regardless of their socioeconomic status, gender, or geographic location.

Through our multifaceted approach, we strive to tackle the interconnected challenges of poverty, illiteracy, lack of healthcare, and environmental degradation. 
        </p>
      </div>
      <div class="col-md-6 mv-img">
        <img src="assets/images/misin.jpg" alt="" />
      </div>
    </div>
    <div class="row vision vission-div">
      <div class="col-md-6 mv-img">
        <img src="assets/images/vision.jpg" alt="" />
      </div>
      <div class="col-md-6 mv-det">
        <h1>Our Vision</h1>
        <p>
          Danam's vision is to create a world where every human being has equal access to opportunities for growth, self-determination, and a life of dignity. We envision a future where poverty is eradicated, education is a universal right, healthcare is accessible to all, and communities coexist harmoniously with their natural environments.

Our ultimate goal is to foster resilient and self-reliant communities that can withstand the challenges of tomorrow.
        </p>
      </div>
    </div>
  </div>
</section>
