/*** Causes ***/
.container {
  width: 100vw;
  margin: 50px auto;
  background-color: #fafafa;
}
h2 {
  text-align: center;
  color: var(--main-purple-color);
  background-color: #51BE78;
  padding: 15px;
}
.boxes {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
  padding: 0 20px;
}
.box {
  width: 200px;
  height: 170px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid var(--element-border-color);
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
}
i {
  color: var(--main-purple-color);
  font-size: 50px;
}
p {
  color: black;
  font-size: 30px;
}
input {
  position: absolute;
  left: 3%;
  top: 3%;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
label::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  border: 2px solid #9d9d9d;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
input[type="checkbox"]:checked + label::after,
input[type="checkbox"]:not(:checked) + label::after {
  content: "";
  position: absolute;
  top: 14.5px;
  left: 14.5px;
  width: 15px;
  height: 15px;
  border-radius: 5px;
}
input[type="checkbox"]:checked + label::after {
  background-color: #51BE78;
}
input[type="checkbox"]:not(:checked):hover + label::after {
  background-color: var(--main-purple-color);
  opacity: 0.2;
}

.causes-item .progress {
  height: 5px;
  border-radius: 0;
  overflow: visible;
}

.causes-item .progress .progress-bar {
  position: relative;
  overflow: visible;
  width: 0px;
  border-radius: 0;
  transition: 5s;
  color: black;
}

.causes-item .progress .progress-bar span {
  position: absolute;
  top: -7px;
  right: 0;
  width: 40px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background: black;
  color: #ffffff;
}

.causes-item .causes-overlay {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.causes-item:hover .causes-overlay {
  height: 100%;
  opacity: 1;
}
