
      <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="content">
                    <div class="col-md-4 col-sm-12 about-us">
                        <h2>About Us</h2>
                        <p>
                            Danam's achievements are a testament to the power of collective action and the generosity of our supporters worldwide. We are humbled by the trust placed in us and remain steadfast in our pursuit of a world where everyone has access to the resources and opportunities they need to thrive.
                        </p>
                        <p>Join us on this journey of compassion and positive change. Together, we can create a better tomorrow for all.</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <h2>Useful Links</h2>
                        <ul class="list-unstyled link-list">
                            <li><a ui-sref="about" href="#/about">About us</a><i class="fa fa-angle-right"></i></li>
                            <li><a ui-sref="portfolio" href="#/portfolio">Causes</a><i class="fa fa-angle-right"></i></li>

                            <li><a ui-sref="gallery" href="#/gallery">Gallery</a><i class="fa fa-angle-right"></i></li>
                            <li><a ui-sref="contact" href="#/contact">Blogs</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-12 map-img">
                        <h2>Feedback</h2>
                        <address class="md-margin-bottom-40">
                            Pranay Jain<br>
                            Hitech City, Hyderabad <br>
                            Telangana, India <br>
                            Phone: 7387066313<br>
                            Email: <a href="mailto:pranayjain1382@gmail.com" class="">adminEmail</a><br>

                        </address>

                    </div>
                </div>
            </div>


            <div class="nav-box row clearfix all-b">

                <div class="donate-link col-md-3 donate-button"><a href="donate.html" class="btn btn-success "><span class="btn-title">Donate Now</span></a></div>

                </div>

        </div>


    </footer>
    <div class="copy">
            <div class="container">
                <a href="">2024 &copy; All Rights Reserved | Designed and Developed by Pranay Jain </a>

                <span>
                <a href="https://github.com/Parthjain1382"><i class="fab fa-github"></i></a>
                <a href="mailto:pranayjain1382@gmail.com"><i class="fab fa-google-plus-g"></i></a>
                <!-- <a><i class="fab fa-pinterest-p"></i></a> -->
                <a href=""><i class="fab fa-twitter"></i></a>
                <!-- <a><i class="fab fa-facebook-f"></i></a> -->
        </span>
            </div>

        </div>

