
      <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h2>About Us</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam repellendus dolores, accusamus vel iste cum. Animi ab aperiam quis fuga dolorum labore deserunt magni, hic ad quaerat eius nam suscipit!
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, sint nam! Et itaque quis, assumenda eveniet hic, rem doloremque exercitationem quaerat provident unde voluptatibus voluptate asperiores perspiciatis corporis, quo saepe. </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2>Useful Links</h2>
                    <ul class="list-unstyled link-list">
                        <li><a ui-sref="about" href="#/about">About us</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="portfolio" href="#/portfolio">services</a><i class="fa fa-angle-right"></i></li>

                        <li><a ui-sref="gallery" href="#/gallery">Gallery</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="contact" href="#/contact">Feedback</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 map-img">
                    <h2>Feedback</h2>
                    <address class="md-margin-bottom-40">
                        AdminName<br>
                        Hyderabad <br>
                        Indian <br>
                        Phone: adminContactNumber<br>
                        Email: <a href="mailto:info@anybiz.com" class="">adminEmail</a><br>

                    </address>

                </div>
            </div>


            <div class="nav-box row clearfix">
                <div class="inner col-md-9 clearfix" >
                    <ul class="footer-nav clearfix"style="display: flex; justify-content:space-between; margin-top:15px;margin-bottom: 15px;">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Servies</a></li>
                        <li><a href="#">donor feedback</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>


                </div>
                  <div class="donate-link col-md-3"><a href="donate.html" class="btn btn-primary "><span class="btn-title">Donate Now</span></a></div>
            </div>

        </div>


    </footer>
    <div class="copy">
            <div class="container">
                <a href="">2024 &copy; All Rights Reserved | Designed and Developed by Pranay Jain</a>

                <span>
                <a href="https://github.com/Parthjain1382"><i class="fab fa-github"></i></a>
                <a href="mailto:praayjain1382@gmail.com"><i class="fab fa-google-plus-g"></i></a>
                <!-- <a><i class="fab fa-pinterest-p"></i></a> -->
                <a href=""><i class="fab fa-twitter"></i></a>
                <!-- <a><i class="fab fa-facebook-f"></i></a> -->
        </span>
            </div>

        </div>

