
<form style="margin-bottom: 60px;">
    <div class="container" style="  top: 450px; margin:30px; padding-right: 65px;">
      <h1></h1>
      <p>Please Enter your desired Password</p>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw"  [(ngModel)]="password" (blur)="handlePasswordBlur($event)" (focus)="onPasswordFocus()" (input)="handelPasswordChange($event)" required="">
        <span [ngStyle]="{'visibility':passwordErrorVisible?'':'hidden'}" class="error_msg">{{passwordError[0]&&passwordError[0].errorMsg}}</span>

      <div class="clearfix">
        <button type="submit" class="btn"  (mouseenter)="handelOnmouseenter()" (click)="resetPassword()">Submit</button>
  </div>
    </div>
  </form>

