<div id="portfolio" class="gallery">
  <div class="container">

     <div class="row">


      <div class="page-nav no-margin row" style="margin-bottom:20px;">
        <div class="container">
            <div class="row">
                <h2>Our Gallery</h2>
                <ul style="display: flex;
                justify-content: center;">
                    <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> Gallery</li>
                </ul>
            </div>
        </div>
    </div>


   <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter hdpe">
       <img src="assets/images/events/image_01.jpg" class="img-responsive">
   </div>

   <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter sprinkle">
       <img src="assets/images/events/image_02.jpg" class="img-responsive">
   </div>

   <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter hdpe">
       <img src="assets/images/events/image_01.jpg" class="img-responsive">
   </div>

   <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter irrigation">
       <img src="assets/images/events/image_03.jpg" class="img-responsive">
   </div>

   <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter spray">
       <img src="assets/images/events/image_04.jpg" class="img-responsive">
   </div>



   <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter spray">
       <img src="assets/images/events/image_05.jpg" class="img-responsive">
   </div>

   <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter irrigation">
       <img src="assets/images/events/image_06.jpg" class="img-responsive">
   </div>

   <div class="gallery_product col-lg-3 col-md-4 col-sm-3 col-xs-6 filter irrigation">
       <img src="assets/images/events/image_07.jpg" class="img-responsive">
   </div>


</div>
</div>


</div>
