<div id="portfolio" class="gallery">
  <div class="container">

     <div class="row">


      <div class="page-nav no-margin row" style="margin-bottom:20px;">
        <div class="container">
            <div class="row">
                <h2>Our Gallery</h2>
                <ul style="display: flex;
                justify-content: center;">
                    <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> Gallery</li>
                </ul>
            </div>
        </div>
    </div>


   @for (item of imageArray; track $index) {
    <div class="gallery_product col-lg-3 col-md-4 col-sm-3 col-xs-6 filter irrigation">
      <img src={{item.descriptionImage}} class="img-responsive">
  </div>
   }


</div>
</div>


</div>
