<div class="card-category-2">
  <ul>
    <li>
      <div class="img-card iCard-style2">
        <div class="card-content">
          <div class="card-image">
            <img src="../../assets/images/blog/image_2.jpg" />
          </div>

          <span class="card-title">Card Title</span>

          <div class="card-text">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Image by
              <a
                href="../../assets/images/blog/image_3.jpg"
                style="text-decoration: none"
                >moonzigg</a
              >
              from
              <a
                href="../../assets/images/blog/image_3.jpg"
                style="text-decoration: none"
                >Pixabay</a
              >
            </p>
          </div>
        </div>

        <div class="card-link">
          <a href="#" title="Read Full"><span>Read Full</span></a>
        </div>
      </div>
    </li>

    <li>
      <div class="img-card iCard-style2">
        <div class="card-content">
          <div class="card-image">
            <img src="../../assets/images/blog/image_3.jpg" />
          </div>

          <span class="card-title">Card Title</span>

          <div class="card-text">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Image by
              <a
                href="https://pixabay.com/users/moonzigg-6341937/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2715461"
                style="text-decoration: none"
                >moonzigg</a
              >
              from
              <a
                href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2715461"
                style="text-decoration: none"
                >Pixabay</a
              >
            </p>
          </div>
        </div>

        <div class="card-link">
          <a href="#" title="Read Full"><span>Read Full</span></a>
        </div>
      </div>
    </li>
    <li>
      <div class="img-card iCard-style2">
        <div class="card-content">
          <div class="card-image">
            <img src="../../assets/images/blog/image_4.jpg" />
          </div>

          <span class="card-title">Card Title</span>

          <div class="card-text">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Image by
              <a href="" style="text-decoration: none">moonzigg</a>
              from
              <a
                href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2715461"
                style="text-decoration: none"
                >Pixabay</a
              >
            </p>
          </div>
        </div>

        <div class="card-link">
          <a href="#" title="Read Full"><span>Read Full</span></a>
        </div>
      </div>
    </li>
    <li>
      <div class="img-card iCard-style2">
        <div class="card-content">
          <div class="card-image">
            <img src="../../assets/images/blog/image_5.jpg" />
          </div>

          <span class="card-title">Card Title</span>

          <div class="card-text">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Image by
              <a
                href="https://pixabay.com/users/moonzigg-6341937/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2715461"
                style="text-decoration: none"
                >moonzigg</a
              >
              from
              <a
                href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2715461"
                style="text-decoration: none"
                >Pixabay</a
              >
            </p>
          </div>
        </div>

        <div class="card-link">
          <a href="#" title="Read Full"><span>Read Full</span></a>
        </div>
      </div>
    </li>
    <li>
      <div class="img-card iCard-style2">
        <div class="card-content">
          <div class="card-image">
            <img src="../../assets/images/blog/image_6.jpg" />
          </div>

          <span class="card-title">Card Title</span>

          <div class="card-text">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Image by
              <a
                href="https://pixabay.com/users/moonzigg-6341937/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2715461"
                style="text-decoration: none"
                >moonzigg</a
              >
              from
              <a
                href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2715461"
                style="text-decoration: none"
                >Pixabay</a
              >
            </p>
          </div>
        </div>

        <div class="card-link">
          <a href="#" title="Read Full"><span>Read Full</span></a>
        </div>
      </div>
    </li>
    <li>
      <div class="img-card iCard-style2">
        <div class="card-content">
          <div class="card-image">
            <img src="../../assets/images/blog/image_2.jpg" />
          </div>

          <span class="card-title">Card Title</span>

          <div class="card-text">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Image by
              <a
                href="https://pixabay.com/users/moonzigg-6341937/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2715461"
                style="text-decoration: none"
                >moonzigg</a
              >
              from
              <a
                href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2715461"
                style="text-decoration: none"
                >Pixabay</a
              >
            </p>
          </div>
        </div>

        <div class="card-link">
          <a href="#" title="Read Full"><span>Read Full</span></a>
        </div>
      </div>
    </li>
    <li>
      <div class="img-card iCard-style2">
        <div class="card-content">
          <div class="card-image">
            <img src="../../assets/images/blog/image_3.jpg" />
          </div>

          <span class="card-title">Card Title</span>

          <div class="card-text">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Image by
              <a
                href="https://pixabay.com/users/moonzigg-6341937/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2715461"
                style="text-decoration: none"
                >moonzigg</a
              >
              from
              <a
                href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2715461"
                style="text-decoration: none"
                >Pixabay</a
              >
            </p>
          </div>
        </div>

        <div class="card-link">
          <a href="#" title="Read Full"><span>Read Full</span></a>
        </div>
      </div>
    </li>
    <li>
      <div class="img-card iCard-style2">
        <div class="card-content">
          <div class="card-image">
            <img src="../../assets/images/blog/image_5.jpg" />
          </div>

          <span class="card-title">Card Title</span>

          <div class="card-text">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Image by
              <a
                href="https://pixabay.com/users/moonzigg-6341937/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2715461"
                style="text-decoration: none"
                >moonzigg</a
              >
              from
              <a
                href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2715461"
                style="text-decoration: none"
                >Pixabay</a
              >
            </p>
          </div>
        </div>

        <div class="card-link">
          <a href="#" title="Read Full"><span>Read Full</span></a>
        </div>
      </div>
    </li>
  </ul>
</div>
