<!-- You can now use your library component in app.component.html -->
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
  @for (slide of slides; track slide.img) {
  <div ngxSlickItem class="slide">

    <div class="item">
      <div class="slider-img"><img src={{slide.img}} alt="" style="width: 100%;">
      <div class="container">
          <div class="row">
              <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                  <div class="slider-captions ">
                      <h1 class="slider-title" style="align-items: center;">"Just remember, you are never alone....</h1>

                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  </div>
  }
</ngx-slick-carousel>



