
<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
  <!-- Vertical Navbar -->
  <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
      <div class="container-fluid">
          <!-- Toggler -->
          <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="sidebarCollapse">
              <!-- Navigation -->
              <ul class="navbar-nav">
                  <li>
                      <a class="nav-link">
                        <b style="font-size: 20px;"> Dashboard</b>
                      </a>
                  </li>
                  <br>
                  <li class="nav-item">
                      <a class="nav-link" (click)="navtoDonorList()">
                          <i class="bi bi-bar-chart"></i> Donor List
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" (click)="navtoCharityRequest()">
                          <i class="bi bi-chat"></i> Charity requests
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" (click)="navtoDonation()">
                          <i class="bi bi-bookmarks"></i> Donations
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" (click)="navtoCharityList()">
                          <i class="bi bi-people"></i> Charity List
                      </a>
                  </li>
              </ul>
              <!-- Divider -->
              <hr class="navbar-divider my-5 opacity-20">
          </div>
      </div>
  </nav>
<!-- Rest of the page content -->
<div style="display: flex; justify-content:space-around">
    <header class="header">
      <div class="header__container">
        <h3>Hello Admin,</h3>
        <h1>Welcome to the Admin Dashboard</h1>
      </div>
    </header>

</div>
