<div class="donor-profile">
   <div class="content-profile">
    <div class="row">
        <div class="column">
          <div class="card">
            <h3>Total Amount</h3>
            <p>{{amount}}</p>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <h3>Total Donations</h3>
            <p>{{totalDonationsDonated}}</p>
          </div>
        </div>
        </div>
    
        <div class="my-cause">
            <h1>My Causes</h1>
            <app-table-component (totalAmountChanged)="onTotalAmountChanged($event)" (allDonations)="onCalculatingTotalDonations($event)"></app-table-component>
        </div>
   </div>
    
</div>

